<html>
    <head>
        <link rel="stylesheet" href="https://unpkg.com/papercss@1.8.3/dist/paper.min.css">
    </head>
    <body>
        <div class="container">
            @RenderBody()
        </div>
    </body>
</html>